<table class="admin-tables">
  <thead>
    <tr><th>ID</th><th>Server</th></tr>
  </thead>
  <% if @status  %>
    <% Order.where(status: @status).each do |order| %>
      <tr>
        <td><%= link_to order.id, get_order_path(order) %></td>
        <td><%= order.server.name %></td>
      </tr>
    <% end %>
  <% else %>
    <% @orders.each do |order|%>
    <tr>
      <td><%= link_to order.id, get_order_path(order) %></td>
      <td><%= order.server.name %></td>
    </tr>
    <% end %>
  <% end  %>
  </tbody>
</table></br>
