<h3>All Items:</h3>
<table>
  <tr> <th>Name</th> <th>Price</th></tr>
  <% @order.items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.price %></td>
    </tr>
  <% end  %>
</table>
