<h3 class="header-font">All Items:</h3>

<div class="jumbotron table-responsive">
  <table class="table table-hover table-bordered table-condensed">
    <tr> <th class="center-content">Name</th> <th class="center-content">Price</th><th class="center-content">Quantity</th></tr>
    <% @order.items.each do |item, quantity| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= number_to_currency(item.price, :unit => "$") %></td>
        <td>
          <%=quantity%>
        </td>
        <td><%= button_to "Remove", orders_path(item.id), method: "delete", class:"btn btn-danger"%> </td>
        <% end  %>
      </tr>
  </table>
</div>
