/* app wide styles */

body {
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.3) 100%), url(https://source.unsplash.com/random?food);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: transparent;
  padding-top: 5em;
}

.missing-image-resize {
  height: 4rem;
  width: 4rem;
}

.image-styles {
  border-radius: 40px;
  border: 1px solid black;
}

.table-font {
  font-size: 2rem;
}

.center-content {
  text-align: center;
}

.header-font {
  color: #000;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.brand-logo {
  font-family: sans-serif, helvetica;
  font-weight: bold;
  color: #fff;
}

.orders-width {
  width: 50%;
}

/* menu specific syling */
.menu-nav {
  margin-top: 5rem;
  bticket-top: 1px solid black;
}

.menu-nav-selectors {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

.login-button-margin {
  margin-right: 1rem;
}

.glyphicon-button-fix {
  margin-top: 5px;
}

.ticket-button-font {
  font-family: sans-serif;
  margin: 1px;
  padding: 1px;
}

.logged-in-text-style {
  color: #fff;
  margin-top: 1.3rem;
  margin-right: 2rem;
}

.admin-dashboard-button {
  margin: 5px;
  margin-top: 7px;
}

.field {
  padding: 1%;
}

.field-label {
  margin-right: 5%;
}

.field-list {
  padding-left: 13.5rem;
}

.field-catg-list {
  margin-left: -15% !important;
}

.field-list li {
  display: inline-block;
  padding-left: 4.5%;
}

.field-catg-list li {
  display: inline-block;
  padding-left: 1%;
}

/* this overrides bootstrap's navbar float css */
@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

/* this allows us to custom style jumbotrons */

.jumbotron {
  margin: 5rem;
  background: rgba(255, 255, 255, 0.7) !important;
  border: 1px solid black !important;
}

.pseudotron {
  margin: 5rem;
  background: rgba(255, 255, 255, 0.7) !important;
  border: 1px solid black !important;
}

.btn-small {
  font-size: 10px !important;
  width: 60px;
  height: 35px;
  white-space: normal !important;
  padding-bottom: 5% !important;
  padding-right: 15px; !important;
}

.btn-padding {
  margin-left: 2% !important;
  margin-right: 2% !important;
}

#order_status {
  margin-bottom: 5%;
  font-size: 18px;
}

.admin-edit li {
  display: inline-block;

}

.admin-name {
  font-size: 24px;
  font-weight: bold;
  margin-right: 5%;
}


/* custom admin table styling */

.admin-tables {
   display: table;
   width: 60%;
   font-size: 20px;
   margin: 0px auto;
}

.admin-tables thead, .admin-tables tbody {
   float: left;
   width: 100%;
}
.admin-tables-overflow tbody,
.admin-div-overflow {
   overflow-y: auto;
   overflow-x: hidden !important;
   height: 300px;
}

.admin-tables tr {
   width: 100%;
   text-align: left;
}
.admin-tables th, .admin-tables td {
   width: 80%;
   padding: 5px;
}

.admin-tables th {
   border-bottom: 1px dotted black;
   font-size: 24px;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.admin-tables-height tbody {
  height: 255px !important;
}

.admin-table-orders {
  margin-left: -12% !important;
  margin-right: -10% !important;
}

.admin-table-orders th, .admin-table-orders td {
  width: 80%;
  padding: 5px;
  font-size: 16px;
}

.table-orders thead, .table-orders tbody {
   float: left;
   width: 100%;
}

.table-orders th, .table-orders td {
  width: 80%;
  padding: 5px;
}

.table-orders tr {
   width: 100%;
   /*display: table;*/
   text-align: left;
}
