/* app wide styles */

body {
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.3) 100%), url(https://source.unsplash.com/random?food);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: transparent;
  padding-top: 5em;
}

.table-font {
  font-size: 2rem;
}

.center-content {
  text-align: center;
}

.header-font {
  color: #000;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.brand-logo {
  font-family: sans-serif, helvetica;
  font-weight: bold;
  color: #fff;
}

.orders-width {
  width: 50%;
}

/* menu specific syling */
.menu-nav {
  margin-top: 5rem;
  bticket-top: 1px solid black;
}

.menu-nav-selectors {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

.login-button-margin {
  margin-right: 1rem;
}

.glyphicon-button-fix {
  margin-top: 5px;
}

.ticket-button-font {
  font-family: sans-serif;
  margin: 1px;
  padding: 1px;
}

.logged-in-text-style {
  color: #fff;
  margin-top: 1.3rem;
  margin-right: 2rem;
}

.admin-dashboard-button {
  margin: 5px;
  margin-top: 7px;
}


/* this overrides bootstrap's navbar float css */
@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

/* this allows us to custom style jumbotrons */

.jumbotron {
  margin: 5rem;
  background: rgba(255, 255, 255, 0.7) !important;
  border: 1px solid black !important;
}

/* custom admin table styling */

.admin-tables {
   display: table;
   width: 60%;
   font-size: 20px;
   margin: 0px auto;
}

.admin-tables thead, .admin-tables tbody {
   float: left;
   width: 100%;
}
.admin-tables tbody {
   overflow: auto;
   height: 400px;
}
.admin-tables tr {
   width: 100%;
   /*display: table;*/
   text-align: left;
}
.admin-tables th, .admin-tables td {
   width: 80%;
   padding: 5px;
}

.admin-tables th {
   border-bottom: 1px dotted black;
   font-size: 24px;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.table-round {
    border: none;
}
.table-round thead th {
    border: none;
    text-shadow: 1px 1px 1px #ccc;
    color: #333;
}
.table-round thead th:first-child {
    border-radius: 10px 0 0 0;
}
.table-round thead th:last-child {
    border-radius: 0 10px 0 0;
}
.table-round tbody td {
    border: none;
}
.table-round tbody tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}
.table-round tbody tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}
