<h1>All Items for  <%= @category.name %>  </h1>

 <table>
   <tr> <th>Name</th> <th>Price</th></tr>
   <% @items.each do |item| %>
     <tr>
       <td><%= item.name %></td>
       <td><%= item.price %></td>
       <td><%= button_to "Add to Order", create_order_path(item_id: item.id), class: "btn btn-success" %></td>
     </tr>
   <% end  %>
 </table>
